footer{
    margin-top:20px;
    background-color:#494948;
    width:100%;
    height:150px;
    font-size: 14px;
    color:white;
}

#footerli li{
    list-style-type: none;
    overflow: hidden;
    list-style-type:none;
    display:flex;
    float:right;
    font-size:15px;
}

.navfooter{
    width:50%;
    height:100px;
    float:right;
}

#footerli{
    margin-right:50px;
}

#footerli a{
    padding: 14px 16px;
}

#footerli a:hover{
    background-color: #505026;
}

.footerbox{
    float:left;
    width:50%;
    height:100px;
}

#logofooter{
    float:none;
    text-align:left;
}

.info{
    line-height: 0.2;
    align-content: left;
    margin:10px;
}

.right{
    width:100%;
    height:50px;
    float:right;
    width:100%;
}

.right p{
    margin-top:30px;
    text-align:center;
}
