.packages{
    display: flex;
    flex-wrap:wrap;
}

.column {
    width:300px;
    display:block;
    margin-top:5%;
    border-radius: 25px;
    border: 3px solid#7C3491;
}

section p{
    padding: 15px 25px 10px;
    text-align:center;
}

.goldenstar, .silverstar, .bronzestar{
    margin:auto;
    padding-bottom:1px;
	width: 30px;
	background-size: cover;
    float:right;
}

.goldenstar{
	color: rgb(230, 208, 12);
}


#goldpackage{
    height:335px;
    width: 350px;
    margin-top:0;
}

#silverpackage{
    margin-right:20px;
    margin-left:auto;
    margin-top:20px;
    margin-bottom:15px;
    height:300px;
    width: 300px;
}

#bronzepackage{
    margin-left:20px;
    margin-right:auto;
    margin-top:20px;
    height:300px;
    width: 300px;
}


.silverstar{
	color: grey; 
}
.bronzestar{
	color: orange;
}

#button{
    margin-top:105px;
    border: 5px solid white;
}
